#####################################################################
#   Macros
#####################################################################


[gcode_macro Bed_Mesh]
gcode:
    STATUS_MESHING
    G28
    BED_MESH_CALIBRATE

[gcode_macro Home_All]
gcode:
    STATUS_HOMING
    G28


[gcode_macro Nozzle_Wipe]
gcode:
    STATUS_CLEANING
    G28
    M117 Priming and Cleaning Nozzle... ; output message
    G1 X290 Y349 F5000 ; move to front left corner
    G92 E0 ; reset extrusion distance
    G1 Z0.2 F5000 ; Move the platform down
    G1 F200 E15 ; prime Nozzle
    G92 E0 ; reset extrusion distance
    G1 X220 Y349 F5000 ; move across brush
    G1 E-1
    G92 E0 ; reset extrusion distance
    G1 Z5 F5000

[gcode_macro PARK]
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  

[gcode_macro G32]
gcode:
    STATUS_CALIBRATING_Z
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    STATUS_BUSY
    BED_MESH_CLEAR
    G90                            ; absolute positioning
    G28  X0                        ; home X
    G1 X345 F1200
    G4 P2000
    G28  Y0                        ; home X
    G1 Y345 F1200
    G4 P2000
    G28  Z0                        ; home X
    QUAD_GANTRY_LEVEL
    BED_MESH_PROFILE LOAD="default"
    Nozzle_Wipe
    G1 Z5 F3000                   ; move nozzle away from bed
    
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SET_NOZZLE_LEDS_OFF
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR

    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0